@import url("reset.css");
div{
    width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 15px;
    box-shadow: 0 0 4px 0 #818181;
}
ul{
    line-height: 60px;
    font-size: 30px;
    text-align: center;
}
._one{
    font-size: 40px;
    text-align: center;
    color: #393939;
	padding: 20px 0;
}
._wrapper{
	font-size: 35px;
    text-align: center; 
	padding: 20px 0;
}
._one_h{
    font-size: 40px;
    padding: 20px 0;
}
._two{
    width: 500px;
    height: 350px;
    padding: 20px 0;
}
._three{
    font-size: 30px;
}
._four{}
._wrapper~p{
	text-align: justify;
	font-size: 22px;
	padding: 8px 0;
}